<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
crossorigin="anonymous">
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<ul class="nav justify-content-end">
	<li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
	<li class="nav-item"><a class="nav-link active" href="/arriendos">Arriendos</a></li>
	<li class="nav-item"><a class="nav-link active" href="/clientes">Clientes</a></li>
	<li class="nav-item"><a class="nav-link active" href="/peliculas">Peliculas</a></li>
	</ul>

	<div class="container">

		<div class="col-sm-2"></div>

		<div class="col-sm-8">

			<h3>Arriendos</h3>
			<br>
			<form th:action="@{/arriendos/agregar}" method="post"
				th:object="${arriendo}">

				<div class="form-group row">

					<label for="inicio" class="col-4">Inicio</label>

					<div class="col-8">

						<input class="form-control" type="date"
							data-date-format="mm-dd-yyyy" id="inicio" name="inicio">

					</div>

				</div>
				<div class="form-group row">

					<label for="duracion" class="col-4">Duracion</label>

					<div class="col-8">

						<input class="form-control" type="number" value="" id="duracion"
							name="duracion">

					</div>

				</div>

				<div class="form-group row">

					<label class="col-4">Pelicula</label>

					<div class="col-8">

						<select th:field="*{pelicula}">

							<option th:each="pelicula : ${peliculas}"
								th:value="${pelicula.id}" th:text="${pelicula.titulo}"></option>

						</select>

					</div>

				</div>

				<div class="form-group row">

					<label class="col-4">Cliente</label>

					<div class="col-8">

						<select th:field="*{cliente}">

							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.nombre}"></option>

						</select>

					</div>

				</div>

				<div class="form-group row">

					<div class="col-sm-12">

						<button type="submit" class="boton">Agregar</button>

					</div>

				</div>

			</form>

		</div>

		<div class="col-sm-2">

			<p></p>

		</div>

	</div>
</body>
</html>