<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
crossorigin="anonymous">
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<ul class="nav justify-content-end">

		<li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
		<li class="nav-item"><a class="nav-link active" href="/arriendos">Arriendos</a></li>
		<li class="nav-item"><a class="nav-link active" href="/clientes">Clientes</a></li>
		<li class="nav-item"><a class="nav-link active" href="/peliculas">Peliculas</a></li>

	</ul>
<div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3>Clientes</h3>
            <br>
            <form th:action="@{/clientes/agregar}" method="post"
                th:object="${cliente}">
                <div class="form-group row">
                    <label for="nombre" class="col-sm-4">Nombre</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="nombre" name="nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="boton">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2">
            <p></p>
        </div>
    </div>
</body>
</html>